.container  {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 20px; /* Ajusta este valor según necesites para añadir espacio entre las imágenes */
}
  
.Nav {
  text-decoration: none;
  color: #000000;
}

.Nav:hover {
  text-decoration: underline;
  
}

.Boton {
  text-decoration: none;
  color: #ffffff;
}

.Boton:hover {
  text-decoration: underline;
  
}

  .homepage {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 36px 50px 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
  
  }
 
  .button {
    border-radius: 8px;
    background: #426B1F;
    position: absolute;
    left: 50%;
    top: 300px;
    translate: -50% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 19px 3.5px 19px 0;
    width: 227px;
    box-sizing: border-box;
  }
  
  .ClassFooter {
    margin: 0 6.8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
  }
  .creemos-firmemente-que-cada-mascota-merece-un-hogar-lleno-de-amor-y-cuidado-y-cada-hogar-merece-la-alegra-que-una-mascota-trae-consigo {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #000000;
  }
  .nuestros-principios {
    margin: 6px 25.5px 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.6px;
    line-height: 1.6;
    text-transform: uppercase;
    color: #000000;
  }
 
  .header {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 951px;
    box-sizing: border-box;
    justify-content: center; /* Centra los elementos horizontalmente */
  }
  .yo-adopto {
    margin: 5px 32px 0 0;
    display: inline-block;
    width: 209.3px;
    overflow-wrap: break-word;
    font-family: 'Newsreader';
    font-weight: 500;
    font-size: 32px;
    letter-spacing: -0.3px;
    line-height: 1;
    color: #426B1F;
  }
  .ElementoNavegacion {
    margin-top: 10px;
    margin-right: 13.6px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #000000;
  }
  
  .cart-button {
    border-radius: 8px;
    background: #426B1F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 13px 9.1px 14px 14.1px;
    box-sizing: border-box;
  }
  .identificarme {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    color: #FFFFFF;
  }


  .ContenedorFotos {
    margin-top: 40px;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 20px; /* Ajusta este valor según necesites para añadir espacio entre las imágenes */
  
  }
  .ContenedorNavegacion {
    margin-bottom: 21px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 709.7px;
    height: fit-content;
    box-sizing: border-box;
  }
  .ContenedorFooter {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
    margin-top: 110px;
  }

 /*Historias*/


 .solicitudes {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 38px 0 93px 0;
  width: 1200px;
  box-sizing: border-box;
}
.Etiqueta {
  border-radius: 24px;
  border: 2px solid #E6E6E6;
  background: #FAFAF5;
  margin-bottom: 49px;
  display: flex;
  flex-direction: row;
  padding: 15px 22px 15px 10px;
  width: fit-content;
  box-sizing: border-box;
  cursor: pointer;
}




.solicitud-de-adopcin {
  margin-bottom: 19px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
}


.item {
  margin-right: 10.5px;
  width: 212.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #000000;
}

.itemTotal{
  margin-top: 40px;

  
}
.valor {
  margin-bottom: 3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: #000000;
}
.button {
  border-radius: 8px;
  background: #426B1F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 24px 13px 24px;
  width: 267px;
  box-sizing: border-box;
}
.Boton:hover {
	text-decoration: underline;
}

.Boton {
	text-decoration: none;
	color: #fff;
}

.hacer-registro {
	margin: auto;
	width: 192.5px;
	overflow-wrap: break-word;
	font-family: 'Inter';
	font-weight: 600;
	font-size: 16px;
	line-height: 1.3;
	color: #FFFFFF;


}

.page-heading {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 16px 96px;
  width: 1200px;
  box-sizing: border-box;
}
.historias {
	left: 350px;
	position: relative;
	top: 20px;
	/* width: |; */
	justify-content: center;
	text-align: center;
}
.almas {
  margin: 10px;
  height: 50px;
  overflow-wrap: break-word;
  font-family: 'Newsreader';
  font-weight: 400;
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 1.2;
  color: #000000;
  /*background-color: aqua;*/
}
.divider {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #E6E6E6;
  position: absolute;
  left: 96px;
  right: 96px;
  bottom: -2px;
  height: 2px;
  top: 80px;
}

.container-2 {
	margin: 10px;
	display: flow-root;
	width: fit-content;
	box-sizing: border-box;
	/*background-color: aquamarine;*/
	top: 110px;
	position: relative;
	right: 180px;
}


.container-3 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.foto8 {
  background: url('/img/foto8.png') 50% / cover no-repeat;
  margin-right: 23px;
  width: 147px;
  height: 125px;
}
.foto6 {
  background: url('/img/foto6.png') 50% / cover no-repeat;
  margin-right: 32px;
  width: 144px;
  height: 120px;
}
.foto5 {
  background: url('/img/foto5.png') 50% / cover no-repeat;
  margin-right: 23px;
  width: 144px;
  height: 118px;
}

.button {
	border-radius: 8px;
	background: #426B1F;
	position: relative;
	top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 227px;
	box-sizing: border-box;
}



.summary {
	border-radius: 24px;
	border: 2px solid #E6E6E6;
	background: #fafaf5;
	margin-bottom: 49px;
	display: flex;
	flex-direction: column;
	padding: 22px;
	box-sizing: border-box;
	height: 500px;
	top: 110px;
  right: 90px;
  width: 600px;
	position: relative;
}

.developed-by-devfigma-org {
  margin-left: 20px;
  overflow-wrap: break-word;
  font-family: 'Jaldi';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.6px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #000000;
}
