<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yo adopto</title>
  <link rel="stylesheet" href="/css/styleHistorias.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
  <!--Header fijo-->
  <div class="header">
    <div class="yo-adopto">

      YoAdopto♥
    </div>
    <div class="ContenedorNavegacion">

      <span class="ElementoNavegacion">
        <a href="Historias" class="Nav">Historias</a>
      </span>
      <span class="ElementoNavegacion">
        <a href="Procedimientos" class="Nav">Procedimientos</a>
      </span>
      <span class="ElementoNavegacion">
        <a href="Contacto" class="Nav">Contacto</a>
      </span>
      <div class="ElementoNavegacion">
        <a href="Perfil" class="Nav">Mi Perfil</a>
      </div>
      <div class="ElementoNavegacion">
        <a href="Testimonios" class="Nav">Testimonios</a>
      </div>
      <div class="cart-button">
        <span class="identificarme">
          <a href="Login" class="Boton">Identificarme</a>
        </span>
      </div>

    </div>
  </div>

  <div class="page-heading">
    <span class="almas">
      Almas
    </span>
    <div class="historias">
      Conoce sus historias
    </div>
    <div class="divider">
    </div>

    <div class="container-2">
      <div class="container-12">
        <div class="Etiqueta" id="div1">
          <div class="foto8">
          </div>
          <div class="container-1">
            <div class="container-17">
              <strong>
                Firulais
              </strong> <br> <i id="ubicacionFirulais">Ubicacion(Lectura desde BD JSON)</i>
            </div>
            <span class="Resumen" id="presentacionFirulais">
              <br>
              Presentacion(Lectura desde BD JSON)
              
            </span>
          </div>
        </div>
        <div class="Etiqueta" id="div2">
          <div class="foto6">
          </div>
          <div class="container-16">
            <div class="container-8">
              <strong>
                Rocky
              </strong> <br> <i id="ubicacionRocky">Ubicacion(Lectura desde BD JSON)</i>
            </div>
            <span class="Resumen" id="presentacionRocky">
              <br>
              Presentacion(Lectura desde BD JSON)
            </span>
          </div>
        </div>
        <!--Tercer elemento-->
        <div class="Etiqueta" id="div3">
          <div class="foto5">
          </div>
          <div class="container-3">
            <div class="container-7">
              <strong>
                Minnie
              </strong> <br> <i id="ubicacionMinnie">Ubicacion(Lectura desde BD JSON)</i>


            </div>
            <span class="Resumen" id="presentacionMinnie">
              <br>
              Presentacion(Lectura desde BD JSON)
            </span>
          </div>
        </div>
      </div>


    </div>
    <div class="summary">
      <div>
        <h3 class="solicitud-de-adopcin">Solicitud de adopción</h3>
      </div>
    <div class="item">
      <span>
        Procedimiento legal
      </span>
      <span class="valor">
        $3.99
      </span>
    </div>
    <div class="item">
      <span >
        Vacunación
      </span>
      <span class="valor">
        $2.00
      </span>
    </div>
    <div class="item">
      <span id="identificadorMascota">
        Cuidados de la mascota
      </span>
      <span class="valor" id="valorMascota">
        
        $ValorMascota
      </span>
    </div>

      <div class="itemTotal">
        Total
      </div>
      <div class="valor" id="valorMascotaTotal">
        $5.99
      </div>

      <div class="button">
        <span class="hacer-registro">
          <a href="" class="Boton">Adoptar -></a>

        </span>

      </div>
    </div>

  </div>
  </div>



  </div>
  </div>


  <!--Footer fijo-->
  <footer>
    <div class="ClassFooter">
      <div class="ContenedorFooter">
        <div class="nuestros-principios">
          NUESTROS PRINCIPIOS
        </div>
        <span
          class="creemos-firmemente-que-cada-mascota-merece-un-hogar-lleno-de-amor-y-cuidado-y-cada-hogar-merece-la-alegra-que-una-mascota-trae-consigo">
          Creemos firmemente que cada mascota merece un hogar lleno de amor y cuidado, y cada hogar merece la alegría
          que una mascota trae consigo.
        </span>
      </div>
      <span class="developed-by-devfigma-org">
        developed by DEVFIGMA.ORG
      </span>
    </div>
  </footer>
  <script src="/js/scriptHistorias.js"></script>

</body>

</html>