<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yo adopto</title>
  <link rel="stylesheet" href="/css/styleHome.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
  <!--Header fijo-->
  <div class="header">
    <div class="yo-adopto">
      YoAdopto♥
    </div>
    <div class="ContenedorNavegacion">

      <span class="ElementoNavegacion">
        <a href="Historias" class="Nav">Historias</a>
      </span>
      <span class="ElementoNavegacion">
        <a href="Procedimientos" class="Nav">Procedimientos</a>
      </span>
      <span class="ElementoNavegacion">
        <a href="Contacto" class="Nav">Contacto</a>
      </span>
      <div class="ElementoNavegacion">
        <a href="Perfil" class="Nav">Mi Perfil</a>
      </div>
      <div class="ElementoNavegacion">
        <a href="Testimonios" class="Nav">Testimonios</a>
      </div>
      <div class="cart-button">
        <span class="identificarme">
          <a href="Login" class="Boton">Identificarme</a>
        </span>
      </div>

    </div>
  </div>
  <!--Hompage visible:On/off-->
  <div class="homepage">
    <div class="lleva-a-casa-una-mascota-para-hacer-de-tu-hogar-un-lugar-mejor">
      Lleva a casa una mascota para hacer de tu hogar un lugar mejor
    </div>

    <div class="button">
      <span class="abrir-mi-corazn">
        <a href="Historias" class="Boton">Abrir mi corazón</a>

      </span>
    </div>


    <div class="container">
      <div class="ContenedorFotos">

        <div class="foto1">
          <span
            class="fontibn-bogot-lulu-11-meses-ama-pasear-y-correr-en-los-parques-infantiles-detras-de-los-niosa-quienes-les-impresiona-un-perro-tan-veloz-y-juguetn">
            Fontibón, Bogotá - Lulu 11 meses <br />
            Ama pasear y correr en los parques infantiles detras
            de los niños a quienes les impresiona un perro tan veloz y juguetón
          </span>
        </div>



        <div class="foto2">
          <span
            class="kennedy-bogot-morita-5-meses-mientras-los-dems-gatos-estn-tras-los-ratones-y-jugando-con-el-trapeador-morita-prefiere-dormir-mientras-le-hacen-carios-en-su-panza">
            Kennedy, Bogotá - Morita 5 meses<br />
            Mientras los demás gatos están tras los ratones y jugando
            con el trapeador, Morita prefiere dormir mientras le hacen cariños en su panza
          </span>
        </div>

      </div>
    </div>


  </div>
  </div>

  

  <!--Footer fijo-->
  <footer>
    <div class="ClassFooter">
      <div class="ContenedorFooter">
        <div class="nuestros-principios">
          NUESTROS PRINCIPIOS
        </div>
        <span
          class="creemos-firmemente-que-cada-mascota-merece-un-hogar-lleno-de-amor-y-cuidado-y-cada-hogar-merece-la-alegra-que-una-mascota-trae-consigo">
          Creemos firmemente que cada mascota merece un hogar lleno de amor y cuidado, y cada hogar merece la alegría
          que una mascota trae consigo.
        </span>
      </div>
      <span class="developed-by-devfigma-org">
        developed by DEVFIGMA.ORG
      </span>
    </div>
  </footer>
  <script src="/js/script.js"></script>

</body>

</html>